.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #278ad8;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
  }
  
  #current-weather {
    margin-bottom: 20px;
  }
  
  #forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .forecast-item {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  #rest-of-day-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #rest-of-day-forecast .forecast-item {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-history-button {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Background classes for different weather conditions */
  .sunny {
    background-image: url('./images/pexels-brett-sayles-1431822.jpg');
    background-size: cover;
    background-position: center;
    /* Additional styles for the sunny background */
  }
  
  .cloudy {
    background-image: url('./images/pexels-pixabay-209831.jpg');
    background-size: cover;
    background-position: center;
    /* Additional styles for the cloudy background */
  }
  
  .rainy {
    background-image: url('./images/pexels-kaique-rocha-125510.jpg');
    background-size: cover;
    background-position: center;
    /* Additional styles for the rainy background */
  }
  
  .snowy {
    background-image: url('./images/pexels-eberhard-grossgasteiger-1004665.jpg');
    background-size: cover;
    background-position: center;
    /* Additional styles for the snowy background */
  }
  
  .default {
    background-color: #278ad8; /* Default background color if weather condition is unknown */
    /* Additional styles for the default background */
  }
